.Nav2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}


.Nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em 2em .5em 2em;
    
}

.Nav1{
    color: #9747FF;
font-family: Fustat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 166.5%; /* 26.64px */
letter-spacing: 0.72px;
}

.Nav2{
    color: #A1A1A1;
font-feature-settings: 'ss03' on;
font-family: Fustat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 166.5%; /* 33.3px */
letter-spacing: 0.9px;
}



.Nav2 span:hover {
    color: black;
    
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .Nav {
        flex-direction: column;
    }
    .Nav2{
        gap: 10px;
    }
}
