*,
*::before,
*::after {
    box-sizing: border-box;
}
.lefts{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.lefts{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5em;
}


.lefts1{
    align-self: stretch;
    color: #000;
font-feature-settings: 'ss03' on;
font-family: Fustat;
font-size: 2.3em;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 57.6px */
letter-spacing: -1.056px;
}

.lefts2{
    width: 100%;
    color: #000;
font-variant-numeric: lining-nums proportional-nums;
font-feature-settings: 'ss03' on;
font-family: Fustat;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.48px;
}

.thre{
    border-radius: 0px 20px 20px 20px;
    background: #F7F7F7;
    display: inline-flex;
padding: 16px;
justify-content: center;
align-items: center;
gap: 10px;
}

.thre1{
    color: #000;
font-kerning: none;
font-variant-numeric: lining-nums proportional-nums slashed-zero;
font-feature-settings: 'ss03' on, 'ss05' on;
font-family: Fustat;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 148%; /* 23.68px */
letter-spacing: 0.72px;
max-width: 22em;
/* border: solid red; */
}

.thh{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10em;
    /* gap: 10em; */
}

.the{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}

.ex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    padding: 2em;
    gap: 1.6em;
    margin-top: 10em;
    width: 100%;
    height: 100vh;
    background-color: #111111;
}

.exc{
    color: white;
font-variant-numeric: lining-nums proportional-nums;
font-feature-settings: 'ss03' on;
font-family: Fustat;
font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: 115%; 
}

.ne{
    border-radius: 20px 0px 20px 20px;
border: 1px solid #FFF;
display: inline-flex;
padding: 16px;
justify-content: center;
align-items: center;
gap: 10px;
margin-left: auto;
justify-content: flex-end; 
}

.ne1{
    color: #FFF;
font-kerning: none;
font-variant-numeric: lining-nums proportional-nums slashed-zero;
font-feature-settings: 'ss03' on, 'ss05' on;
font-family: Fustat;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 148%; /* 23.68px */
letter-spacing: 0.72px;
width: 22em;
}

.io4{
     width: 40%;
    display: flex;
    
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-end; 
    gap: 2em;
}

.fake{
    width: 120%;
    box-sizing: border-box;

}

.pp{
    margin-right: auto;
}

.sma{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    margin-top: 10em;
}

.sma div:nth-child(1){
    color: #9747FF;
text-align: center;
font-feature-settings: 'dlig' on, 'ss03' on;
font-family: Fustat;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.525px;
text-transform: uppercase;
}
.sma div:nth-child(2){
    color: #000;
font-feature-settings: 'ss03' on;
font-family: Fustat;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%;
letter-spacing: -1.056px;
text-transform: lowercase;
color: #000;
font-feature-settings: 'ss03' on;
font-family: Fustat;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 57.6px */
letter-spacing: -1.056px;

}
.sma div:nth-child(3){
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'ss03' on;
    font-family: Fustat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}

.th1 img{
    height: auto;
    width: 100%;
    display: block;
}
.th1{
    max-width: 51.0625em;
}
.imgd{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5em;
}

.imgd{
    margin-top: 10em;
}

.ins{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    margin-top: 10em;

}

.ins div:nth-child(1){
    color: #9747FF;
text-align: center;
font-feature-settings: 'dlig' on, 'ss03' on;
font-family: Fustat;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.525px;
text-transform: uppercase;
}

.ins div:nth-child(2){
    color: #000;
font-feature-settings: 'ss03' on;
font-family: Fustat;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 57.6px */
letter-spacing: -1.056px;
}

.jus{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: fit-content;  /* Or a fixed width like 200px */
    margin: 0 auto;
    margin-top: 10em;
    
}

.jus div:nth-child(1){
    color: var(--Black, #262626);
font-family: Fustat;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.jus div:nth-child(2){
    max-height: 8.25em;
    max-width:46em ;
} 

.jus div:nth-child(2) img{
    height: auto;
    width: 100%;
    display: block;   
}

.c1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.c1 div:nth-child(1){
    color: #000;
    font-feature-settings: 'ss03' on;
    font-family: Fustat;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 136%; /* 32.64px */
    letter-spacing: -0.24px;
}

.c1 div:nth-child(2){
    flex: 1 0 0;
    color: #000;
font-feature-settings: 'ss03' on;
font-family: Fustat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 136%; /* 27.2px */
letter-spacing: -0.2px;
}

.c1{
    background: #F9F9F9;
    display: flex;

padding: 20px;
flex-direction: column;
align-items: flex-start;
gap: 12px;
}

.cardgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin-top: 10em;
    padding-left: 10%;
    padding-right: 10%;
}

.di div{
    color: #FFF;
font-variant-numeric: lining-nums proportional-nums;
font-feature-settings: 'ss03' on;
font-family: Fustat;
font-size: 86px;
font-style: normal;
font-weight: 700;
line-height: 115%; /* 110.4px */
width: 56%;
}

.tab img{
    width: 80%;
    height: auto;
    display: block;
}

.tab{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8em;
}

.ioi{
    margin-top: 8em;
    color: #9747FF;
text-align: center;
font-feature-settings: 'dlig' on, 'ss03' on;
font-family: Fustat;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.525px;
text-transform: uppercase;
}